@import url("https://fonts.googleapis.com/css2?family=Lato,wght@1,300&family=Roboto+Condensed&display=swap");
/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Roundness of the scrollbar thumb */
}

* {
  scrollbar-width: thin;
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
}
:root {
  --purple: #583fcf;
  --normal-btn: #b9b9b9;
  --success-btn: #4fd364;
  --cancel-btn: #f74c4a;
  --word: #f1c232;
  --sentence: #ffff00;
}
.main {
  display: flex;
}
.Divider {
  cursor: pointer;
}
.hover {
  background-color: var(--sentence);
}

.seg:hover .sen:hover {
  background-color: var(--word);
  cursor: pointer;
}
body {
  counter-reset: section;
  overflow: hidden;
  font-family: "Monlam";
}
.container {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #ddd;
  max-height: 450px;
  width: 90%;
  height: fit-content;
  overflow: hidden;
}
.container.active {
  outline: var(--purple);
  border: 2px solid var(--purple);
}
.editor-container {
  text-align: left;
  color: #444;
  margin: 40px;
  height: 80%;
  display: flex;
  background: #fff;
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
  border-radius: 0;
  font-size: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.editor-container *::selection {
  background-color: var(--word);
}
.ProseMirror:focus {
  outline: none;
}
button:disabled {
  opacity: 0.3;
}
.label {
  opacity: 0.75;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  padding-top: 5px;
}
.header {
  display: flex;
  flex-direction: column;
}

.info {
  color: #b9b9b9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .container {
    position: fixed;
    bottom: 150px;
  }

  .btn-container {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 15px;
  }

  .editor-container {
    max-height: 40vh;
    padding: 20px;
  }
  .editor-container *::selection {
    background-color: transparent;
  }
  .groupText {
    position: absolute;
    top: 0;
    padding-block: 50px;
  }
}

.text-del::after {
  content: " - ";
  width: 4px;
  height: auto;
  background-color: #f74c4a;
}
.text-add::after {
  content: " + ";
  width: 4px;
  height: auto;
  background-color: #85e495;
}
.content {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #ddd;
  width: 100%;
}
.content > div {
  max-width: 800px;
}
