.sidebar_menu > div {
  margin-bottom: 10px;
}
.sidebar_footer {
  padding: 10px;
  font-size: 10px;
}
.sidebar_title > svg {
  display: none;
}
.sidebar {
  width: 260px;
  color: #fff;
  background: #54606e;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
  border-right: none;
  display: flex;
  flex-direction: column;
}
.sidebar_title {
  background-color: #384451;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: clamp(18px, 4vw, 20px);
  font-weight: bolder;
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}
.sidebar_menu {
  padding-inline: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  border-bottom: 1px solid #384451;
  margin-bottom: 17.5px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 40vh;
  overflow-y: auto;
}
.history-item {
  color: white;
  text-decoration: none;
}
.history-item::before {
  counter-increment: section;
  content: counter(section) ": ";
}
.history-item:hover {
  border: 1px solid var(--purple);
  cursor: pointer;
}
.sidebar-section-title {
  font-size: clamp(10px, 2vw, 20px);

  font-weight: bold;
  margin-bottom: 10px;
}
.sidebar-Header {
  display: none;
}
.tickSVG,
.crossSVG {
  fill: white;
}

.history-item:hover .tickSVG {
  fill: #4fd364;
}
.history-item:hover .crossSVG {
  fill: #f74c4a;
}

@media only screen and (max-width: 600px) {
  .sidebar_title {
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    display: flex;
    padding: 5px 10px;
    z-index: 10;
    position: fixed;
    flex-wrap: nowrap;
    font-size: 14px;
    background: #54606e;
    align-items: center;
    font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
    flex-direction: row;
    height: 20px;
    justify-content: flex-start;
  }
  .sidebar_title > svg {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  .sidebar {
    transition: all ease 0.3s;
    transform: translateX(-100%);
    z-index: 99;
  }
  .sidebar.open {
    display: block;
    transform: translateX(0);
  }
  .sidebar-Header {
    display: flex;
    background-color: #384451;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-Header > .close {
    cursor: pointer;
    padding: 10px;
  }
}
