services:
  - type: web
    name: sentence-segmentation
    env: node
    plan: starter
    # Update the following line with your Strapi GitHub repo
    repo: https://github.com/OpenPecha/pecha-tool-for-sentence-segmentation
    branch: main
    buildCommand: npm ci --production=false && npm run build && npm prune --production
    startCommand: npx prisma migrate deploy && npm run start
    envVars:
      - key: NODE_VERSION
        value: ~18.0.0
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: sentence-segmentation-pg
          property: connectionString

databases:
  - name: sentence-segmentation-pg
    plan: starter
